body {
	width:100%;
	height: 100%;
    background-image: url("../img/background.jpg");

}

.container {
	margin-top:100px;
	text-align: center;
}

.btn-container {
	padding: 170px 0;
}

h1 {
	margin: auto;
}

.btn-huge {
	margin: auto;
	width: 250px;

    padding-top:20px;
    padding-bottom:20px;
    white-space: normal;

}

  .navbar-default {
    background-color: white;
    border-color: white;
}

.dontKnow {
	padding: 50px;
}